canvas {
    /* border: 1px solid #d3d3d3; */
    background: url("https://i.imgur.com/MJJRGzZ.jpg")
    background-color: #f1f1f1;
}

body {
  text-align: center;
  background-color: #333333;
}

h1 {
  font-family: "Amity Jack";
  font-size: 72px;
  color: #CB444A;
}
h2 {
  font-family: "Amity Jack";
  font-size: 60px;
  color: #CB444A;
}

a {
  color: white;
}
/* font-family: "Amity Jack" */
